/* some colors you may find useful:
  #115ff4
  #060ce9
  #28a200
  #8d2ab5
  #74119c
*/
table,
tr,
td {
  border: 1px solid black;
}

.null {
  color: blue;
}

.question {
  color: red;
}

.answer {
  color: green;
}